/* Required Styles */
#slider {
	width: 980px;
	overflow: hidden;
	position: relative;
}
#slider ul.slides {
	overflow: hidden;
}

/* Slideshow Mode */
#slider.slideshow ul.slides {
	width: 980px;
	height: 380px;
}
#slider.slideshow ul.slides li {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
#slider.slideshow ul.slides li.active {
	z-index: 1;
	display: block;
}

/* Carousel Mode */
#slider.carousel ul.slides {
  position: relative;
  left: 0;
}
#slider.carousel ul.slides li {
  float: left;
}

/* Just to make it look prettier */
.horz-center {
	*text-align: center;
}
.horz-center > * {
	display: table;
	margin: 0px auto;
	*display: inline;
    *zoom: 1;
}
#slider {
	margin: 0 auto;
}
#slider ul.slides {
	padding: 0px;
	list-style: none;
}
#slider a {
	text-decoration: none;
}
#slider .nav a {
	color: #000;
	margin: 0 10px;
}
#slider .nav a.active {
	color: red;
}
#slider .arrows {
	overflow: hidden;
	position: relative;
	top: -35px;
}
#slider .arrows a {
	font-size: 40px;
	float: left;
	color: #4580B2;
}
#slider .arrows .next {
	float: right;
}
#slider .progress {
	height: 10px;
	border: 1px solid #000;
	margin: 10px 0;
}
#slider .progress .bar {
	height: 10px;
	width: 0%;
	background-color: red;
}